.bg-c1{
	background-color: rgba(158, 228, 147, 1);
	background-color: rgba(60, 22, 66, 1);
	background-color: rgba(181, 202, 141, 1);
}

.bg-c2{
	background-color: rgba(218, 247, 220, 1);
	background-color: rgba(8, 99, 117, 1);
	background-color: rgba(139, 177, 116, 1);
}

.bg-c3{
	background-color:  rgba(171, 200, 192, 1);
	background-color: rgba(29, 211, 176, 1);
	background-color: rgba(66, 107, 105, 1);
}

.bg-c4{
	background-color: rgba(112, 86, 109, 1);
	background-color: rgba(175, 252, 65, 1);
	background-color: rgba(34, 46, 80, 1);
}

.bg-c5{
	background-color: rgba(66, 39, 59, 1);
	background-color: rgba(178, 255, 158, 1);
	background-color: rgba(42, 72, 73, 1);
}